@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #ffff;
}

input {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
}

.page {
    max-width: 850px;
    margin: 10px auto;
    min-width: 850px;
}